<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString"
            connectionString="workstation id=PersonaWeb.mssql.somee.com;packet size=4096;user id=mar1298_SQLLogin_1;pwd=rixqnfjqbi;data source=PersonaWeb.mssql.somee.com;persist security info=False;initial catalog=PersonaWeb"
            providerName="System.Data.SqlClient" />
		
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>

